*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #2d2d30;
}

body,
input,
button {
	font: 400 1rem 'Montserrat', sans-serif;
}

button {
	cursor: pointer;
}

.title {
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 48px;
	padding: 32px 0;
}

.title > span {
	margin-left: 16px;
}

form {
	background: rgba(255, 255, 255, 0.1);
	width: 400px;
	padding: 16px 32px;
	margin: 16px auto;
	border-radius: 50px;
	display: flex;
}

form > input {
	background: transparent;
	border: none;
	flex: 1;
	color: #fff;
	outline: none;
}

form > input::placeholder {
	color: #fff;
}

form > button {
	color: #fff;
	background: transparent;
	border: none;
	font-size: 24px;
}

#cities {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 100vw;
	padding: 16px 32px;
}

.city {
	position: relative;
	width: 250px;
	height: 320px;
	color: #fff;
	padding: 16px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	border-radius: 4px;
	box-shadow: 0 2px 5px 2px #ddd2;
	margin-left: 32px;
	margin-top: 32px;
}

.weather-img {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	opacity: 0.65;
	object-fit: cover;
	height: inherit;
	width: inherit;
	border-radius: inherit;
}

.city-name {
	margin-top: 45%;
	font: 400 2rem 'Montserrat', sans-serif;
	text-align: right;
}

.temperature {
	margin-top: 8px;
	font: 600 3rem 'Montserrat', sans-serif;
}

.btn-remove {
	color: #fff;
	font-size: 24px;
	position: absolute;
	top: 16px;
	right: 16px;
	opacity: 0;
	visibility: hidden;
	transform: translateX(10px);
	transition: opacity 0.4s ease-in-out, color 0.4s ease-in-out,
		transform 0.4s ease-in-out;
}

.btn-remove:hover {
	color: #fffa;
}

.city:hover > .btn-remove {
	opacity: 1;
	visibility: visible;
	transform: translateX(0);
}
